@model SNS.Models.Faculty

@{
    ViewBag.Title = "Details";
}

<div class="col-lg-12 ">
    <div class="panel panel-success">
        <div class="panel-heading ui-draggable-handle">
            <h3 class="panel-title">Admins</h3>
        </div>
        @if (Model != null)
        {
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-hover">
                            <tr>
                                <th>First Name</th>
                                <td>@Model.Person.FirstName</td>
                                <th>Last Name</th>
                                <td>@Model.Person.LastName</td>
                            </tr>
                            <tr>
                                <th>ID</th>
                                <td>@Model.Id</td>

                            </tr>
                            <tr>
                                <th>Phone</th>
                                <td>@Model.Person.Phone</td>
                                <th>Email</th>
                                <td>@SNS.DAL.UserHandler.PersonID((int)Model.PersonID).Email</td>

                            </tr>
                            <tr>
                                <th>Address</th>
                                <td colspan="3">@Model.Person.Address</td>


                            </tr>
                        </table>
                       
                    </div>
                    <div class="col-md-6">
                        <img src="@Model.Person.Picture" height="200" width="200" class="img-thumbnail" />
                    </div>
                </div>
            </div>


            <div class="panel-footer"></div>


        }


    </div>


</div>


